{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to the website of the SqueekPig store!</h1>
        <p class="mt-5 fs-4">Here you can find the entire offer of the cutest guinea pigs from our stationary store and
            read our blogs with information needed for every guinea pig lover!</p>
        <p class="col-md-8 fs-5"><i class="fas fa-map-marker-alt fa-sm"></i> Visit us at: ul. Koszykowa 75, 00-662
            Warszawa</p>
    </div>
</div>
{% endblock %}